# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# Virtual environments
.env
.venv
env/
venv/

# Streamlit
.streamlit/secrets.toml

# Dev/test files
test_utils.py
assets/style.css

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.user